---
layout: default
---

<ul class="category-title"><h1>{{page.title}}</h1></ul>
<ul class="posts-list">
  <div class="card categories">
    <ul class="list-group">
  {% if page.categories.size != 1 %}
    {% assign category = page.categories[-1] | default: page.title %}

    {% for post in site.categories[category] %}
      <li class="list-group-item">
        
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
          <span class="tab">&#9;&#9;&#9;</span>
          <small>{{ post.date | date_to_string }}</small>
      </li>
    {% endfor %}
  </ul>
  </div>
  {% else %}
  {% assign sort_categories = site.categories | sort %}

  {% for category in sort_categories %}
    {% assign category_name = category | first %}
    {% assign posts_of_category = category | last %}
    {% assign first_post = posts_of_category | first %}

    {% if category_name == first_post.categories[0] %}
      {% assign sub_categories = "" | split: "" %}

      {% for post in posts_of_category %}
        {% assign second_category = post.categories[1] %}
        {% if second_category %}
          {% unless sub_categories contains second_category %}
            {% assign sub_categories = sub_categories | push: second_category %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      {% assign sub_categories = sub_categories | sort %}
      {% assign sub_categories_size = sub_categories | size %}

    <div class="card categories">

      <!-- Sub-categories -->
      {% if sub_categories_size > 0 %}
      <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
        
        {% for post in site.categories[category_name] %}
          {% if post.categories.size == 1 %}
          <li class="list-group-item">
            
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
            <span class="tab">&#9;&#9;</span>
            <small>{{ post.date | date_to_string }}</small>
          </li>
          {% endif %}
        {% endfor %}
        <br>
        
        {% for sub_category in sub_categories %}
        <li class="list-group-item" style="list-style: none;">
          <i class="far fa-folder-open fa-fw"></i>
          <a href="{{ site.baseurl }}/{{ category_name }}/{{ sub_category | slugify | url_encode }}/"
            class="ml-1 mr-2">{{ sub_category }}</a>
          {% assign posts_size = site.categories[sub_category] | size %}
          <span class="text-muted small font-weight-light">{{ posts_size }}
            post{% if posts_size > 1 %}s{% endif %}
          </span>
          <ul class="list-group">
            {% for post in site.categories[sub_category] %}
              <li class="list-group-item">
                
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                  </a>
                  <span class="tab">&#9;&#9;&#9;</span>
                  <small>{{ post.date | date_to_string }}</small>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}

      </div>
      {% endif %}

    </div> <!-- .card -->

      {% assign group_index = group_index | plus: 1 %}

      {% endif %}
    {% endfor %}
  {% endif %}
</ul>
